body {
    background-image: url(page%201.jpg);
    background-repeat: no-repeat;
    background-size: cover;
      
}

/* Dropdown content */

.dropdown {
    float: left;
    width:15%;
    background-color:yellowgreen;
    height: 15%;
    text-align: center;
    margin:auto;
    
}


#h1{
    background-color: forestgreen;
    color:white ;
    font-size: 75px;
    font-family: cursive;
    text-align: center;
    float: left;
    width: 70%; 
    height: 20%;
    margin: auto;
    
}
#contain {
     
    background-color: rgba(190,190,190,0.9);
    width:70%;
    margin: auto;
    height: 66%;
    margin-top: 20px;
    text-align: center;
    padding-top: 10%;
    
    

}
img{
    float:inherit;
    padding left: 5px;
}

#box {
    background-color: forestgreen;
    float: bottom;
    margin: auto;
    width: 85%;
    height: 10%;
}


#container {
    background-color: yellowgreen;
    width: 15%;
    height: 15%;
    font-size: 35px;
    text-align: center;
    float:left;
    margin: auto;
}


p{
    font-family: cursive;
    font-size: 15px;
    color: black;
}
a{
    text-decoration: none;
    font-family: cursive;
    color: white;
}
a:hover{
    background-color: lightgreen;
}
