/* Background decoration */

body {
    background-image: url(page%201.jpg);
    background-repeat: no-repeat;
    background-size: cover;
      
}

/* Dropdown content */

.dropdown {
    float: left;
    width:15%;
    background-color:yellowgreen;
    height: 15%;
    text-align: center;
    margin:auto;
    
}

/* Design details of the heading / position */

#h1{
    background-color: forestgreen;
    color:white ;
    font-size: 75px;
    font-family: cursive;
    text-align: center;
    float: left;
    width: 70%; 
    height: 20%;
    margin: auto;
    
}

/* Design details and position of the main content box from div contain*/

#contain {
     
    background-color: rgba(190,190,190,0.9);
    width:70%;
    margin: auto;
    height: 66%;
    margin-top: 20px;
    text-align: center;
    padding-top: 10%;
    
}

/* Position of the image */

img{
    float:inherit;
    padding left: 5px;
}

/* Position and decoration of the box from the div in html */

#box {
    background-color: forestgreen;
    float: bottom;
    margin: auto;
    width: 85%;
    height: 10%;
    font-size: 18px;
    text-align: center;
    
}

/* Store decoration and position of the container div from html */

#container {
    background-color: yellowgreen;
    width: 15%;
    height: 15%;
    font-size: 35px;
    text-align: center;
    float:left;
    margin: auto;
}

/* Word decoration for text inside 'p' parts of html*/

p{
    font-family: cursive;
    font-size: 15px;
    color: black;
}

/* Decoration of text inside the 'a' parts in html */

a{
    text-decoration: none;
    font-family: cursive;
    color: white;
}

/* Run this section from only the 'a' parts in the box*/

#box a{
    text-decoration: none;
    font-family: cursive;
    color: white;
    margin-right: 40px;
}
/* When the mouse hovers over the parts in 'a' */

a:hover{
    background-color: lightgreen;
}
