body {
    background-image: url(page%201.jpg);
    background-repeat: no-repeat;
    background-size: cover;
      
}

#h1{
    background-color: forestgreen;
    color:white ;
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    float: left;
    width: 70%;
    height: 20%;
}
#contain {
        
    background-color: lightgreen;
    width:70%;
    margin: auto;
    height: 90%;
    margin-top: 20px;
    text-align: center;

}
img{
    border-radius: 20%;
}

#box {
    background-color: forestgreen;
    float: bottom;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    height: 10%
}


#container {
    background-color: yellowgreen;
    width: 15%;
    height: 15%;
    font-size: 30px;
    font-family:cursive;
    text-align: center;
    float:left;
    

}
#menu {
    float: left;
    width:15%;
    background-color:yellowgreen;
    height: 80%;
    
    
}

p{
    font-family: cursive;
    font-size: 15px;
    color:white;
}
a{
    color: white;
}
a:hover{
    background-color:darkgrey;
}
li a{
    color: white;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    margin-right: 30px;
    font-size: 20px;
}
ul {
    list-style-type: none;
}